*{

    margin: 0;
    padding: 0;
}
#nav{
    background-image: url(./image/11.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
}
#nav h1{
    color: white;
    margin-left: 30px;
    border: 2px solid white;
    width: 210px;
    padding: 10px 20px 10px 20px;
}
.artical{
    width: 80%;
    
}
.words{
    float: left;
    width: 600px;
    height: 300px;
}
.photos{
    float: right;
    width: 300px;
    background-image: url(./image/11.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
